@import "tailwindcss";

:root {
  color: #ffffff;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  #hero {
    background: #0f2027;
    background: -webkit-linear-gradient(to top, #0f2027, #203a43, #2c5364);
    background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
    background-repeat: no-repeat;
  }

  section {
    background: #0f2027
  }
}

